* {
    margin: 0;
    font-family: Georgia;
    text-align: center;
}

.baner, .stopka {
    clear: both;
    background-color: #4BA3C7;
    color: white;
    height: 80px;
    font-size: 120%;
}

.g_l, .g_p {
    float: left;
    background-color: #EFEFEF;
    height: 400px;
    width: 25%;
}

.g_s {
    float: left;
    background-color: #90CAF9;
    height: 400px;
    width: 50%;
}

table {
    margin-left: 10px;
    width: 90%;
    border: solid 1px #90CAF9;
}

td {
    padding: 5px;
    border: solid 1px #90CAF9;
}

tr:hover{
    color: #90CAF9;
}

input {
    margin-top: 15px;
    margin-bottom: 15px;
}